<style media="screen">
    .imagem{
        background: url('img/patio-do-povo.jpg');
        width: 100%;
        height: 200px;
        color: white;
        margin-bottom: 1%
    }
    h3{
        color: white;
    }
</style>
<ion-view view-title="Maior São João Do Mundo">
    <ion-content>
        <md-content layout-wrap>
            <md-list flex >
                <md-list-item  ng-click="null" class="imagem">
                    <div class="md-list-item-text" layout="column">
                        <h3>Parque Do Povo</h3>
                        <p>Venha dançar forró e curtir essa tradição</p>
                    </div>
                </md-list-item>

                <md-list-item  ng-click="null" class="imagem" href="#/app/playlists">
                    <div class="md-list-item-text" layout="column">
                        <h3>Eventos</h3>
                        <p>Confira toda a programação para não perder nenhum show</p>
                    </div>
                </md-list-item>

                <md-list-item  ng-click="null" class="imagem">
                    <div class="md-list-item-text" layout="column">
                        <h3>Trem do Forró</h3>
                        <p>Venha se divertir e dançar o autêntico forró pé de serra</p>
                    </div>
                </md-list-item>
                <md-list-item  ng-click="null" class="imagem">
                    <div class="md-list-item-text" layout="column">
                        <h3>Parque Do Povo</h3>
                    </div>
                </md-list-item>
                <md-list-item  ng-click="null" class="imagem">
                    <div class="md-list-item-text" layout="column">
                        <h3>Parque Do Povo</h3>
                    </div>
                </md-list-item>
                <md-list-item  ng-click="null" class="imagem">
                    <div class="md-list-item-text" layout="column">
                        <h3>Parque Do Povo</h3>
                    </div>
                </md-list-item>
                <md-list-item  ng-click="null" class="imagem">
                    <div class="md-list-item-text" layout="column">
                        <h3>Parque Do Povo</h3>
                    </div>
                </md-list-item>
                <md-list-item  ng-click="null" class="imagem">
                    <div class="md-list-item-text" layout="column">
                        <h3>Parque Do Povo</h3>
                    </div>
                </md-list-item>
                <md-list-item  ng-click="null" class="imagem">
                    <div class="md-list-item-text" layout="column">
                        <h3>Parque Do Povo</h3>
                    </div>
                </md-list-item>

            </md-list>
        </md-content>
    </ion-content>
</ion-view>
