<ion-view view-title="Programação">
  <ion-content>
    <h1>Dia 01/06</h1>
    <p>Aviões do Forró</p>
    <p>Wesley Safadão</p>
    <p>Gabriel Diniz</p>
    <p>Dorgival Dantas</p>
    
  </ion-content>
</ion-view>
