<ion-view view-title="Programação">
  <ion-content>
    <ion-list>
        <input type="button" name="name" value="nao pega" onclick="window.plugins.socialsharing.share('Enviado do maior aplicativo de são joão do mundo =)', null, 'img/logo-sao-joao-2016.png', null)">
         <button onclick="window.plugins.socialsharing.share('Enviado do Maior Aplicativo Do Maior São João do Mundo =)', null, 'http://www.paraiba.com.br/static/images/noticias/normal/1433951228339-campina-grande.jpg', null)">message and image</button>
        <ion-item ng-repeat="evento in eventos" href="#/app/playlists/{{playlist.id}}">
        {{evento.data}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
